{% extends "base.html" %}

{% block main %}

	<div class="container tab-content">
		<div class="row">
			<h1>Profil uživatele {{ member.name }}</h1>
        </div>
			<div class="row">
				<form action="/profile/{{ member.id }}" role="form">
					<div class="form-group">
						<label>Jméno</label>
						<input type="text" class="form-control" placeholder="Zadejte nové jméno" disabled name="name" value="{{ member.name }}">
					</div>
                    <div class="form-group">
						<label>E-mail</label>
						<input type="email" class="form-control" placeholder="Zadejte nový email" disabled name="mail" value="{{ member.email }}">
					</div>
                    <div class="form-group">
						<label>Heslo</label>
						<input type="password" class="form-control" placeholder="Zadejte nové heslo" disabled name="password">
					</div>
                    <div class="form-group">
						<label>Heslo znovu</label>
						<input type="password" class="form-control" placeholder="Potvrďte nové heslo" disabled name="password_check">
					</div>
					<!--
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" name="submit">Změnit údaje</button>
					</div>
					-->
				</form>
			</div>
		</div>
	</div>

{% endblock %}
