{% extends "base.html" %}

{% block content %}

	<!---
	name = db.Column(db.String(100), nullable=False)
    date = db.Column(db.DateTime, nullable=False)
    deadline = db.Column(db.DateTime, nullable=False)
    created_by_user_id = db.Column(db.Integer, db.ForeignKey('members.id'), nullable=True)
    info = db.Column(db.Text)
	--->

    <div class="container tab-content">
        <div class="row">
            <form action="/admin_race" role="form">
                <h3>Přidat závod</h3>
                <div class="form-group">
                    <label>Jméno</label>
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Datum</label>
                    <input type="datetime-local" class="form-control" name="date" placeholder="Date" >
                </div>
                <div class="form-group">
                    <label>Deadline přihlášek</label>
                    <input type="datetime-local" class="form-control" name="deadline" placeholder="Deadline" >
                </div>
				<div class="form-group">
                    <label>Info</label>
                    <input type="text" class="form-control" name="info" placeholder="Info" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
		<!--
        <div class="row">
            <form action="/" role="form">
                <div class="form-group">
                    <label>ID pro smazání</label>
                    <input type="number" class="form-control" name="delete" placeholder="ID" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Delete</button>
                </div>
            </form>
        </div>
		-->
		<div class="row">
            <h3>Všechny závody v databázi</h3>
            <div class="table-responsive">
                <table class="table table-bordered" id="mainTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Deadline</th>
                        <th>Created by user ID</th>
                        <th>Info</th>
                    </tr>
                    </thead>
                    <tbody id="displayArea">
                    {% for race in races %}
                        <tr>
                            <td>{{ race.id }}</td>
                            <td>{{ race.name }}</td>
                            <td>{{ race.date }}</td>
                            <td>{{ race.deadline }}</td>
                            <td>{{ race.created_by_user_id }}</td>
                            <td>{{ race.info }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
