{% extends "base.html" %}

{% block main %}
	<form action="/" method="get">
	  Name: <br>
	  <input type="text" name="name" value="">
	  <br>
	  Email: <br>
	  <input type="text" name="mail" value="">
	  <br>
	  <input type="submit" value="Submit">
	</form>
	<br>
	<form action="/" method="get">
	  ID to delete: <br>
	  <input type="number" name="delete" value="">
	  <br>
	  <input type="submit" value="Delete">
	</form>

	<h3>All members in the database</h3>
	<table>
		{% for member in members %}
			<tr>
				<td>{{ member.id }}</td>
				<td>{{ member.name }}</td>
				<td>{{ member.email }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}