{% extends "base.html" %}

{% block content %}

    <div class="container tab-content">
        <div class="row">
            <h1>{{ race.name }}</h1>
            <h3>Informace</h3>
            <div class="table-responsive">
                <table class="table" id="infoTable">
                    <tr>
                        <td class="col-3">Typ závodu:</td>
                        <td>{{ race.type }}</td>
                    </tr>
                    <tr>
                        <td>Datum:</td>
                        <td>{{ race.date }}</td>
                    </tr>
                    <tr>
                        <td>Start:</td>
                        <td>{{ race.start }}</td>
                    </tr>
                    <tr>
                        <td>Prezentace do:</td>
                        <td>{{ race.end_registration }}</td>
                    </tr>
                    <tr>
                        <td>Pořadatel:</td>
                        <td>{{ race.organizer }}</td>
                    </tr>
                    <tr>
                        <td>Disciplína:</td>
                        <td>{{ race.discipline }}</td>
                    </tr>
                    <tr>
                        <td>Web:</td>
                        <td><a href="{{ race.url }}">{{ race.url }}</a></td>
                    </tr>
                    <tr>
                        <td>Další info:</td>
                        <td>{{ race.info }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <h3>Kategorie</h3>
            <div>
                <td>{{ race.categories }}</td>
            </div>

        </div>

        <div class="row">
            <h3>Přihlásit</h3>
            <div class="table-responsive">
                <table class="table" id="infoTable">
                    <tr>
                        <td class="col-3">Uzávěrka přihlášek:</td>
                        <td>{{ race.deadline }}</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="row">
            <form class="col-md-4 col-md-offset-4" action="/" role="form">
                <input class="invisible" type="text" name="user_id" value="{{ uid }}">
                <div class="container-fluid">
                    <button type="submit" class="btn btn-default">Přihlásit se</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
